<ion-content [fullscreen]="true" forceOverscroll="false">
  <div class="main-card">
    
    <div class="image-container">
      <img src="assets/sua-foto.png" alt="Minha Foto" />
    </div>

    <div class="info-section">
      <p class="greeting">Olá! Eu me chamo</p>
      <h1 class="user-name">Marcelle Nascimento Ramos</h1>

      <div class="details-container">
        <div class="detail-item">
          <ion-icon name="school-outline"></ion-icon>
          <p>Faço Análise e Desenvolvimento de Sistemas</p>
        </div>

        <div class="detail-item">
          <ion-icon name="people-outline"></ion-icon>
          <p>Pertenço a turma ADS0301M</p>
        </div>

        <div class="detail-item">
          <div class="icon-container">
            <svg viewBox="0 0 512 512" style="width: 24px; height: 24px; fill: none; stroke: #7b1fa2; stroke-width: 32px;">
              <circle cx="256" cy="256" r="80"></circle>
              <path d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94" stroke-linecap="round"></path>
            </svg>
          </div>
          <p style="margin-left: 12px;">Meu turno é de Manhã</p>
        </div>

        <div class="detail-item">
          <ion-icon name="location-outline"></ion-icon>
          <p>Sou da unidade de Bonsucesso</p>
        </div>

        <div class="detail-item keyword-container">
          <ion-icon name="key-outline"></ion-icon>
          
          <ion-input 
            *ngIf="!palavraFixada"
            placeholder="Digite a palavra-chave" 
            [(ngModel)]="tempPalavra"
            (keyup.enter)="fixarPalavra()"
            class="custom-input">
          </ion-input>

          <p *ngIf="palavraFixada">
            <strong>Palavra-chave:</strong> {{ tempPalavra }}
          </p>

          <ion-button *ngIf="!palavraFixada" slot="end" fill="clear" (click)="fixarPalavra()">
            <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div> 
    </div>
  </div>
</ion-content>